---
import { LAUNCH_URL } from "@/constants/urls";
interface Props {
  id: string;
  name: string;
  img: string;
  success: boolean;
  flightNumber: number;
  details: string;
}

const { id, name, img, success, flightNumber, details } = Astro.props;
const successText = success ? "Success" : "Failure";
---

<a
  href={`/launch/${id}`}
  class="rounded-lg border shadow-md bg-zinc-900 border-zinc-700 hover:scale-105 hover:bg-zinc-700 hover:border-zinc-500 transition flex flex-col"
>
  <picture class="flex justify-center p-4">
    <img src={img} alt={`Patch for launch ${id}`} class="mb-5 rounded-lg" />
  </picture>

  <header class="p-4 flex-grow">
    <span
      class:list={[
        "text-xs font-semibold mr-2 px-2.5 py-0.5 rounded",
        {
          "bg-green-200 text-green-900": success,
          "bg-red-200 text-red-900": !success,
        },
      ]}
    >
      {successText}
    </span>

    <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
      Launch {flightNumber} - {name}
    </h2>
  </header>
</a>
